<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Multer 예제</title>
</head>

<body>
    <form name="questionForm" method="post" enctype="multipart/form-data" action="/multer/test/save">
        <input type="hidden" name="TEST_SN" value="1">

        <ul id="questionFormList">
            <li>
                <input type="hidden" name="Q_SN" value="2">
                <input type="file" name="IMG_FILE">
            </li>
        </ul>
        <input type="submit" value="전송">
    </form>

    </script>
</body>

</html>