<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="post_sql" method="post">
        <input type="text" name="post_sql">
        <input type="submit" value="POST_SQL">
    </form>

    <br>

    <form action="post_procedure" method="post">
        <input type="text" name="post_procedure">
        <input type="submit" value="POST_PRCEDURE">
    </form>
</body>

</html>